@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-infinite-scroll {
    animation: scroll 45s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% + 40rem));
    }
  }
} 